#logs {
    border: 2px solid black;
    padding: 10px;
    width: 50%;
    height: 500px;
    overflow: auto;
}
.ERROR {
    color: darkred;
}

.INFO {
    color: darkgreen;
}

.WARNING {
    color: darkgoldenrod;
}

.DEBUG {
    color: gray;
}